<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Livros</title>
</head>

<body>
    <h1>Lista de livros</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Preco</th>
                <th scope="col">Atualizar</th>
                <th scope="col">Apagar</th>
            </tr>
        </thead>
        <tbody>
            {% for l in livro %}
            <tr>
                <th scope="row">{{ l.id}}</th>
                <td>{{ l.title}}</td>
                <td>{{ l.price}}</td>
                <td>
                    <form action="{% url 'atualizar_livro_url' l.id %}">
                        <input type="submit" value="Atualizar" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    <form action="{% url 'deletar_livro_url' l.id %}">
                        <input type="submit" value="Apagar" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'cadastrar_livro_url' %}">
        <input type="submit" value="Novo" class="btn btn-primary">
    </form>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>